.card {
    border-radius: 8px;
    margin: 15px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
  
    img {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      height: 150px;
      object-fit: cover;
    }
  }
  
  .btn {
    margin-top: 10px;
  }
  